@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@-webkit-keyframes loading {
  from {
    transform: scale(1);
  }
  to {
    visibility: hidden;
  }
}
@keyframes loading {
  from {
    transform: scale(1);
  }
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes heart {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes heart {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.loader {
  position: fixed;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  -webkit-animation: loading 3s forwards;
          animation: loading 3s forwards;
}
.loader i {
  color: #FF79DA;
  -webkit-animation: spin 3s linear;
          animation: spin 3s linear;
}

/*--BODY--*/
body {
  margin: 0px;
}

/*--HEADER--*/
.header {
  font-family: "shrikhand", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

/*--MAIN--*/
main {
  font-family: "Roboto", sans-serif;
}

/*--LOCALISATION--*/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(214, 214, 214, 0.348);
}
.localisation__icon {
  margin-right: 10px;
  font-size: 18px;
}
.localisation__name {
  font-size: 20px;
}

/*--EXPLORER--*/
.explorer {
  background-color: #fafafa;
  padding: 10px 32px 32px 32px;
  text-align: center;
}
.explorer__titre {
  font-weight: bold;
}
.explorer__description {
  font-weight: lighter;
}
.explorer__btn {
  padding: 12px 24px;
  position: relative;
  top: 10px;
  background-color: #686868;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 100px;
  color: white;
  font-weight: 500;
  transition-duration: 200ms;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.explorer__btn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  opacity: 0.9;
}

/*--FONCTIONNEMENT--*/
.fonction {
  padding: 0 15px;
  counter-reset: list;
  padding-bottom: 20px;
}
.fonction__liste {
  padding-left: 10px;
}
.fonction ol {
  display: flex;
  gap: 15px;
  list-style-type: none;
}
@media (max-width: 1020px) {
  .fonction ol {
    flex-direction: column;
  }
}
.fonction li {
  padding: 24px 32px;
  background-color: #f6f6f6;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: all 200ms ease-in-out;
  flex: 1;
  margin-left: 20px;
}
@media (max-width: 1020px) {
  .fonction li {
    margin-left: 0;
  }
}
.fonction li::before {
  content: counter(list);
  counter-increment: list;
  color: white;
  background-color: #9356DC;
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: 22px;
  left: -10px;
}
.fonction li:hover {
  transform: scale(1.005);
}
.fonction li i.fa-solid {
  margin-right: 15px;
  color: grey;
}

/*--RESTAURANTS--*/
.restaurants {
  background-color: #f6f6f6;
  padding: 0 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.restaurants h2 {
  margin-bottom: 30px;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 1020px) {
  .restaurants__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurants .card {
  background-color: white;
  border-radius: 16px;
  flex-grow: 1;
  position: relative;
  color: inherit;
  text-decoration: none;
}
.restaurants .card__image {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.restaurants .card__new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.restaurants .card__titre, .restaurants .card p {
  margin: 0 0 4px;
}
.restaurants .card__footer {
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  position: relative;
}
.restaurants .card__footer i {
  font-size: 32px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.restaurants .card__footer .fa-solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.restaurants .card__footer--btn:hover .fa-solid {
  opacity: 1;
}

/*--FOOTER--*/
.footer {
  font-family: "Roboto", sans-serif;
  background-color: #353535;
  color: white;
}
.footer .container {
  padding: 16px;
}
.footer__logo {
  font-family: "shrikhand", cursive;
  font-size: 20px;
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__description {
  margin: 8px 0;
}
.footer__icon {
  margin-right: 8px;
}
.footer__lien {
  text-decoration: none;
  color: white;
}
.footer__lien:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */