@-webkit-keyframes spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes progress {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes progress {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 32px;
  height: 32px;
  width: 32px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
}

.banner img {
  width: 100%;
  max-width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.resto {
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 32px 32px 0 0;
  max-width: 1280px;
  margin: auto;
  margin-top: -64px;
}
.resto__titre h2 {
  font-family: "Shrikhand", sans-serif;
  padding: 32px 16px;
  margin: 0;
}
.resto__btn {
  position: relative;
}
.resto__btn i {
  font-size: 32px;
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-210%);
  cursor: pointer;
}
.resto__btn .fa-solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.resto__btn:hover .fa-solid {
  opacity: 1;
}

.submenus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 0 16px;
}
@media (max-width: 1000px) {
  .submenus {
    grid-template-columns: 1fr;
  }
}

.submenu {
  overflow: hidden;
}
.submenu__titre {
  margin: 0;
  padding-bottom: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.submenu__titre::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  height: 4px;
  width: 46px;
  background-color: #99E2D0;
}
.submenu .menu-item {
  background-color: white;
  display: flex;
  border-radius: 16px;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 8px 8px 20px 8px;
  cursor: pointer;
  -webkit-animation: progress 1s;
          animation: progress 1s;
}
.submenu .menu-item h4, .submenu .menu-item p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.submenu .menu-item__description {
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.submenu .menu-item .price {
  margin-left: auto;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
.submenu .menu-item__check {
  background-color: #99E2D0;
  margin-right: -64px;
  width: 64px;
  transition: margin-right 0.5s;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
.submenu .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.submenu .menu-item:hover i {
  -webkit-animation: spin 0.5s ease;
          animation: spin 0.5s ease;
}
.submenu .menu-item i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 32px;
  border-radius: 16px;
  color: #99E2D0;
  font-size: 25px;
}

.commander {
  padding: 48px 0;
  display: flex;
  justify-content: center;
}
.commander__btn {
  padding: 12px 24px;
  top: 10px;
  background-color: #686868;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 100px;
  color: white;
  font-weight: 500;
  transition-duration: 200ms;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.commander__btn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  opacity: 0.9;
}/*# sourceMappingURL=restaurant.css.map */